@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Martian+Mono&family=Pixelify+Sans&family=Titillium+Web&display=swap');

:root {
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --bold-font: 900;
    --form-labels: ;
    --white-font: #ffffff;
}


body {
    background-color: #f5f4f2;
    flex-direction: column;
}

.intro-para,
.line {
    font-family: var(--font-family);
    font-weight: var(--bold-font);
}


.photo-credit,
.logo-name {
    color: var(--white-font);
}


.bg-image {
   background-size: cover;
   background-position: left;
   width: 300px;
   height: 100vh;
}

.logo-name {
    font-family: "Pixelify Sans", Kanit, Martian Mono, Titillum Web, Arial, sans-serif;
}

.image-container {
    width: min(100vw, 400px);
}


.text {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    width: 500px;
    margin-bottom: 50px;
}

.line {
    display: flex;
    text-align: right;
}

.intro-para {
}
